@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: "Public Sans";
    src: url("./fonts/PTSans-Regular.ttf");
}

@font-face {
    font-weight: 600; /* Соответствует значению bold */
    font-family: "Public Sans";
    src: url("./fonts/PTSans-Bold.ttf");
}

@font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: "Public Sans";
    src: url("./fonts/PTSans-Bold.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "Public Sans";
    src: url("./fonts/PTSans-Regular.ttf");
}