.css-1juhi5r {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    margin-top: -32px;
    width: calc(100% + 32px);
    margin-left: -32px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 16px;
    padding-bottom: 16px;
}

.css-1juhi5r > .MuiGrid-item {
    padding-left: 32px;
}

.css-1juhi5r > .MuiGrid-item {
    padding-top: 32px;
}

.css-1juhi5r > .MuiGrid-item {
    max-width: none;
}

@media (min-width: 1440px) .css-1osx3qj {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 1266px) .css-1osx3qj {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 1024px) .css-1osx3qj {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 768px) .css-1osx3qj {
                              flex-basis: 100%;
                              flex-grow: 0;
                              max-width: 100%;
                          }

.css-1osx3qj {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

@media (min-width: 768px) .css-1gw2ue9 {
                              height: 420px;
                              width: auto;
                          }

@media (min-width: 0px) .css-1gw2ue9 {
                            height: 310px;
                            width: 360px;
                        }

@media (min-width: 1440px) .css-1osx3qj {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 1266px) .css-1osx3qj {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 1024px) .css-1osx3qj {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 768px) .css-1osx3qj {
                              flex-basis: 100%;
                              flex-grow: 0;
                              max-width: 100%;
                          }

.css-1osx3qj {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

.css-j9or8v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
}

.css-j9or8v > :not(style):not(style) {
    margin: 0px;
}

.css-ojo0um {
    margin: 0px;
    font-weight: 600;
    font-size: 2.375rem;
    line-height: 1.21;
    font-family: "Public Sans", sans-serif;
    text-align: center;
}

.css-j9or8v > :not(style) ~ :not(style) {
    margin-top: 8px;
}

.css-j9or8v > :not(style):not(style) {
    margin: 0px;
}

.css-1juhi5r > .MuiGrid-item {
    padding-left: 32px;
}

.css-1juhi5r > .MuiGrid-item {
    padding-top: 32px;
}

.css-1juhi5r > .MuiGrid-item {
    max-width: none;
}

.css-1qfhhhy {
    margin: 0px;
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    color: rgb(140, 140, 140);
}

@media (min-width: 1024px) .css-194lolc {
                               width: 40%;
                           }

@media (min-width: 0px) .css-194lolc {
                            width: 95%;
                        }

@media (min-width: 1440px) .css-194lolc {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 1266px) .css-194lolc {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 1024px) .css-194lolc {
                               flex-basis: 100%;
                               flex-grow: 0;
                               max-width: 100%;
                           }

@media (min-width: 768px) .css-194lolc {
                              flex-basis: 100%;
                              flex-grow: 0;
                              max-width: 100%;
                          }

.css-194lolc {
    box-sizing: border-box;
    margin: 0px;
    min-width: 40%;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

.css-zrxy8y {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) .css-zrxy8y > :not(style) :not(style) {
                              margin: 0px;
                          }

@media (min-width: 0px) .css-zrxy8y > :not(style) :not(style) {
                            margin: 0px;
                        }

@media (min-width: 768px) .css-1kdryfj {
                              width: 80px;
                          }

@media (min-width: 0px) .css-1kdryfj {
                            width: 60px;
                        }

.css-1kdryfj {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 4px;
    box-shadow: inherit;
}

.css-wkpw2c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css-1lsg2gy {
    padding-top: 14px;
    padding-bottom: 14px;
}

.css-eb60i0 {
    margin: 0px;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 1.27;
    font-family: "Public Sans", sans-serif;
}

.css-1ju4nb1 {
    padding: 4px;
    background-color: rgb(245, 245, 245);
    width: 100%;
}

.css-1j0m3zx {
    margin: 0px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.66;
    font-family: "Public Sans", sans-serif;
    text-align: center;
}

@media (min-width: 768px) .css-zrxy8y > :not(style) ~ :not(style) {
                              margin-left: 16px;
                          }